# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
venv/
env/
ENV/
.venv/
.venv/

# Environment Variables
.env

# Logs
logs/
*.log

# IDE and Editor Files
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Miscellaneous
*.DS_Store
*.egg-info/
dist/
build/